QWidget[main_widget=true]
{
    background: rgba(21, 21, 32, 1);
}

QWidget[pannel_widget=true]
{
    background: rgba(34, 34, 50, 0.8);
    border-radius: 0px 0px 4px 4px;
}

QLabel[label_16_bold=true]
{
    color: #FFFFFFFF;
    font-size: 16px;
    font-weight: bold;
}

QLabel[label_15_medium=true]
{
    color: #FFFFFFFF;
    font-size: 15px;
    font-weight: medium;
}

QLabel[label_12_medium=true]
{
    color: #FFFFFFFF;
    font-size: 12px;
    font-weight: medium;
}


QPushButton[scene_btn=true]
{
    background: transparent;
    color: #FFFFFFFF;
    font-size: 14px;
    font-weight: medium;
}
QPushButton[scene_btn=true]:hover
{
    background: rgba(124, 124, 164, 1);
    color: #FFFFFFFF;
    font-size: 14px;
    font-weight: medium;
    border-radius: 4px;
}
QPushButton[scene_btn=true]:checked
{
    background: rgba(62, 62, 82, 1);
    color: #FFFFFFFF;
    font-size: 14px;
    font-weight: medium;
    border-radius: 4px;
}


QListWidget
{
    background: transparent;
    color: #FFFFFFFF;
    font-weight: medium;
    border: none;
}

QListWidget::item
{
    background: transparent;
    width: 250px;
    min-height: 34px;
    max-height: 34px; 
    border: none;
}
QListWidget::item:hover
{
    background: rgba(124, 124, 164, 1);
    border: 1px solid rgba(105, 106, 139, 1);
    border-radius: 5px;
}
QListWidget::item:selected
{
    background: rgba(62, 62, 82, 1);
    border: 1px solid #696A8B;
    border-radius: 5px;
    outline: none;
}