QWidget[main_widget=true]
{
    background: rgba(21, 21, 32, 1);
}

QWidget[pannel_widget=true]
{
    background: rgba(34, 34, 50, 0.8);
    border-radius: 0px 0px 4px 4px;
}

QLabel[label_16_bold=true]
{
    color: #FFFFFFFF;
    font-size: 16px;
    font-weight: bold;
}

QLabel[label_15_medium=true]
{
    color: #FFFFFFFF;
    font-size: 15px;
    font-weight: medium;
}

QLabel[label_14_medium=true]
{
    color: #FFFFFFFF;
    font-size: 14px;
    font-weight: medium;
}

QLabel[label_12_medium=true]
{
    color: #FFFFFFFF;
    font-size: 12px;
    font-weight: medium;
}


QPushButton[scene_btn=true]
{
    background: transparent;
    color: #FFFFFFFF;
    font-size: 14px;
    font-weight: medium;
}
QPushButton[scene_btn=true]:hover
{
    background: rgba(124, 124, 164, 1);
    color: #FFFFFFFF;
    font-size: 14px;
    font-weight: medium;
    border-radius: 4px;
}
QPushButton[scene_btn=true]:checked
{
    background: rgba(62, 62, 82, 1);
    color: #FFFFFFFF;
    font-size: 14px;
    font-weight: medium;
    border-radius: 4px;
}


QListWidget
{
    background: transparent;
    color: #FFFFFFFF;
    font-weight: medium;
    border: none;
}

QListWidget::item
{
    background: transparent;
    width: 250px;
    min-height: 34px;
    max-height: 34px; 
    border: none;
}
QListWidget::item:hover
{
    background: rgba(124, 124, 164, 1);
    border: 1px solid rgba(105, 106, 139, 1);
    border-radius: 5px;
}
QListWidget::item:selected
{
    background: rgba(62, 62, 82, 1);
    border: 1px solid #696A8B;
    border-radius: 5px;
    outline: none;
}

/* 配置页面导航列表样式 */
QListWidget[config_nav_list=true]
{
    background: transparent;
    border: none;
    outline: none;
}
QListWidget[config_nav_list=true]::item
{
    background: transparent;
    color: #FFFFFFFF;
    font-size: 14px;
    font-weight: medium;
    text-align: center;
    border: none;
    border-radius: 5px;
    min-height: 34px;
    max-height: 34px;
    min-width: 110px;
    max-width: 110px;
}
QListWidget[config_nav_list=true]::item:hover
{
    background: #454558;
}
QListWidget[config_nav_list=true]::item:selected
{
    background: #5370FF;
}
QListWidget[config_nav_list=true]::item:selected:hover
{
    background: #5370FF;
}

/* QComboBox 通用样式 TODO 背景色 */
QComboBox
{
    background-color: #3C3C4D;
    color: #EEEFFF;
    border: 1px solid #454558;
    border-radius: 5px;
    padding: 6px 10px;
    padding-right: 30px;
    font-size: 14px;
    font-weight: medium;
}
QComboBox:hover
{
    border: 1px solid #5370FF;
}
QComboBox:focus
{
    border: 1px solid #5370FF;
    outline: none;
}
QComboBox::drop-down
{
    border: none;
    width: 24px;
    background: transparent;
    subcontrol-origin: padding;
    subcontrol-position: top right;
}
QComboBox::down-arrow
{
    image: url(:/images/drop_down.svg)
}
QComboBox QAbstractItemView
{
    background-color: #2C2C3C;
    color: #FFFFFFFF;
    border: 1px solid #454558;
    border-radius: 4px;
    selection-background-color: #5370FF;
    selection-color: #FFFFFFFF;
    padding: 4px;
}
QComboBox QAbstractItemView::item
{
    padding: 6px 12px;
    border-radius: 2px;
}
QComboBox QAbstractItemView::item:hover
{
    background-color: #454558;
}
QComboBox QAbstractItemView::item:selected
{
    background-color: #5370FF;
    color: #FFFFFFFF;
}

/* QLineEdit 通用样式 */
QLineEdit
{
    background-color: #2C2C3C;
    color: #FFFFFFFF;
    border: 1px solid #454558;
    border-radius: 4px;
    padding: 6px 12px;
    min-height: 32px;
    font-size: 14px;
}
QLineEdit:hover
{
    border: 1px solid #5370FF;
}
QLineEdit:focus
{
    border: 1px solid #5370FF;
    outline: none;
}
QLineEdit:disabled
{
    background-color: #1F1F2C;
    color: #808080;
    border: 1px solid #2C2C3C;
}

/* QSlider 通用样式 */
QSlider::groove:horizontal
{
    background-color: #526FFD;
    height: 6px;
    border-radius: 3px;
}
QSlider::handle:horizontal
{
    background-color: #EEEFFF;
    width: 14px;
    height: 14px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 6px;
}
QSlider::sub-page:horizontal
{
    background-color: #526FFD;
}
QSlider::add-page:horizontal
{
    background-color: #3F4155;
}

/* QGroupBox 通用样式 */
QGroupBox
{
    background-color: transparent;
    border: none;
    padding-top: 16px;
}
QGroupBox::title
{
    background-color: transparent;
    color: #FFFFFFFF;
    font-size: 14px;
    font-weight: medium;
    subcontrol-origin: padding;
    subcontrol-position: top left;
    padding: 0px 4px;
}